#root {
  width: 100%;
  min-height: 100vh;
  margin: 60px auto;
  padding: 2rem;
  text-align: justify;
}

@media screen and (max-width: 800px) {
  .close-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .closedOut {
    display: none !important;
  }
  .menu-btn-close {
    width: 100%;
    height: 100%;
    background: none;
    border: white solid 1px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    /* transition: all 500ms ease; */
    font-size: large;
  }
  
  .menu-btn-close:active {
    background-color: white;
  }
  .links-container {
    width: 4rem !important;
    height: 4rem !important;
  }

  .icon-menu {
    display: block !important;
    
  }

  .links {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    z-index: 999;
    border-radius: 2px;
    border: solid #222222 1px;
    border-right: 0;

    transition: all 1s ease;
  }
  
  .vertical {
    width: 8rem !important;
    height: 10rem !important;
    padding: 2rem 2rem;
    margin-top: 12rem;
    
  }
  
  .showNav {
    display: flex !important;
    gap: 1rem;
    flex-direction: column;
  }

  .nav-links {
    display: none !important;
  }

  .activeButton {
    display: none !important;
  }
  
  .midbar {
    display: none !important ;
  }

  .page-pad {
    padding: 100px 80px !important;
  }
}

@media screen and (max-width: 1000px) and (min-width: 801px) {
    
  .midbar {
    display: none !important ;
  }

  .links-container {
    width:70%;
  }

  .nav-links {
    padding: 0 12px !important ;
    display: flex;
  }

  .grid-container-dest {
    justify-content: center;
    align-items: center;
    grid-template-areas: "titl" 
      "navi"
      "inf" 
      "inf" !important;
    grid-template-columns: 600px !important;
    align-content: center !important;
    row-gap: 2rem;
  }

  .grid-container-crew {
    grid-template-areas: "titl" 
      "inf"
      "sel" 
      "imag"
      !important;
    grid-template-columns: none !important; 
    grid-auto-rows: auto !important;
    column-gap: 0 !important;
    
  }

  .grid-container-tech {
    grid-template-areas: "titl" 
      "imag"
      "sel"
      "inf" !important;
    grid-template-columns: none !important;
    align-content: center;
  }

  .page-pad, .page-pad-crew {
    padding: 100px !important;
  }

}

.intro-container h5 {
  color: var(--accent-color);
  justify-self: flex-start;

}

.main-title, .sub-title {
  font-family: "Bellefair", serif;

}

.links-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}

.home-nav {
  margin-top: 60px;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 96px;
  z-index: 100;
}

.nav-links {
  margin: 0;
  display: flex;
  justify-content: space-around;
  padding: 0 120px;
  width: 540px;
  height: 100%;
  transition: all 1s ease-in-out;
}

.navlink, a {
  text-decoration: none;
  text-transform: uppercase;

}

ol {
  list-style-type: decimal-leading-zero;
  counter-reset: item;
  list-style-position: inside;
  margin: 0 !important;
  padding: 0 !important;
}


.nav-links p {
  color: rgba(255, 255, 255, 0.8);
}



.active {
  border-bottom: solid 2px hsla(0, 0%, 100%);
}

.nav-links li:hover {
  border-bottom: solid 2px hsla(0, 0%, 100%, 0.5);
}

.nav-links li {
  width: max-content;
  height: 100%;
  
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  gap: 8px;
  transition: all 500ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
}

.nav-links li::marker {
  color: rgba(255, 255, 255, 0.5);
  /* font-family: "Barlow Condensed"; */
  margin: 0;
  padding: 0;
}

.nav-links li:before { 
  content: "0"counter(item) "  "; 
  counter-increment: item 
}

.midbar {
  display: block;
  width: 80%;
  border-bottom: solid 1px hsla(0, 0%, 59%, 0.6) ;
  translate: 40px ;
  z-index: 100;

}

.grid-container-dest {
  display: grid;
  grid-template-areas: "titl ." 
    ". navi"
    "inf inf";
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  align-content: end;
}

.grid-container-crew {
  display: grid;
  grid-template-areas: "titl imag" 
    "inf imag"
    "sel imag"
    ;
  grid-template-columns: auto 570px; 
  grid-auto-rows: auto;
  row-gap: 2rem;
  column-gap: 2rem;
}


.grid-container-tech {
  display: grid;
  grid-template-areas: "titl titl ." 
    "sel inf imag";
  grid-template-columns: 10% 30% 60%;
  grid-auto-rows: auto;
  row-gap: 2rem;
  column-gap: 2rem;
  /* align-content: end; */
}

.page-pad-crew {
  padding: 100px 140px;
}
.page-pad {
  padding: 100px 0 140px 140px;
  /* height: 80vh; */
}

.icon-menu {
  display: none;
}

.menu-btn {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding: 1rem;
  transition: all 500ms ease;
  font-size: 2rem;
}

.menu-btn:active {
  background-color: white;
}

